body {
     background-size: cover;
     background-image: url('assets/boat-in-ocean-cropped-pi.jpg');
     height: 100vh;
     width: 100vw;
     margin: 0 auto;
}

.title {
     -webkit-text-stroke: 1px black;
     font-family: 'Stylish', sans-serif;
    color:navy;
    font-size:300%;
    text-shadow: -3px -3px 3px rgba(211,211,211,0.5);
    position: absolute;
    left: 5%;
    top: 5%;
    font-weight: bold;
    word-break: keep-all;
}

#link {
     -webkit-text-stroke: 0px black;
    top: 60%;
}

@media screen and (orientation: portrait) {
    body {
        background-size: cover;
        background-image: url('assets/boat-in-ocean-cropped-pi-vertical.jpeg');
        height: 100vh;
        width: 100vw;
        margin: 0 auto;
   }
}
